################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharpCourse/FileContentIndex
/.vs/CSharpCourse/v17
/.vs/FirstProject/FileContentIndex
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/FirstProject/v17
/FirstProject/.vs/FirstProject/FileContentIndex
/FirstProject/.vs/FirstProject/v17/TestStore/0
/SecondProject/.vs/SecondProject
/Klasy/.vs/Klasy/FileContentIndex
/Klasy/.vs/Klasy/DesignTimeBuild
/Klasy/.vs/Klasy/v17/.suo
/Klasy/Klasy/bin/Debug/net8.0/Klasy.dll
/Klasy/Klasy/bin/Debug/net8.0/Klasy.exe
/Klasy/Klasy/bin/Debug/net8.0/Klasy.pdb
/Klasy/Klasy/obj/Debug/net8.0/ref/Klasy.dll
/Klasy/Klasy/obj/Debug/net8.0/refint/Klasy.dll
/Klasy/Klasy/obj/Debug/net8.0/apphost.exe
/Klasy/Klasy/obj/Debug/net8.0/Klasy.AssemblyInfo.cs
/Klasy/Klasy/obj/Debug/net8.0/Klasy.AssemblyInfoInputs.cache
/Klasy/Klasy/obj/Debug/net8.0/Klasy.dll
/Klasy/Klasy/obj/Debug/net8.0/Klasy.pdb
/Klasy/Klasy/obj/Debug/net8.0/Klasy.sourcelink.json
*.v2
/Klasy/.vs/ProjectEvaluation
/Klasy/ClassLibrary/bin/Debug/net8.0
/Klasy/ClassLibrary/obj/Debug/net8.0/refint
/Klasy/ClassLibrary/obj/Debug/net8.0
/Klasy/ClassLibrary/obj
*.dll
*.pdb
/Klasy/Klasy/bin/Debug/net8.0/Klasy.deps.json
*.cache
*.CopyComplete
/Klasy/Klasy/obj/Debug/net8.0/Klasy.csproj.CoreCompileInputs.cache
/Klasy/Klasy/obj/Debug/net8.0/Klasy.csproj.FileListAbsolute.txt
/Klasy/Klasy/obj/Klasy.csproj.nuget.dgspec.json
/Klasy/Klasy/obj/project.nuget.cache
/Klasy/Klasy/obj/project.assets.json
/Kolekcje/.vs/Kolekcje/FileContentIndex
/Kolekcje/.vs/Kolekcje/v17/TestStore/0
/Kolekcje/Kolekcje/obj/Debug/net8.0
/Kolekcje/Kolekcje/obj
/Kolekcje/.vs/Kolekcje/v17
/Kolekcje/Kolekcje/bin/Debug/net8.0
/Kolekcje/.vs/ProjectEvaluation
/KsiążkaTelefoniczna/.vs/KsiążkaTelefoniczna/FileContentIndex
/KsiążkaTelefoniczna/.vs/KsiążkaTelefoniczna/v17/TestStore/0
/KsiążkaTelefoniczna/.vs/PhoneBook/v17
/KsiążkaTelefoniczna/KsiążkaTelefoniczna/bin/Debug/net8.0
/KsiążkaTelefoniczna/KsiążkaTelefoniczna/obj/Debug/net8.0
/KsiążkaTelefoniczna/KsiążkaTelefoniczna/obj
/KsiążkaTelefoniczna/.vs/ProjectEvaluation
/TypyReferencyjneIWartosciowe/.vs/TypyReferencyjneIWartosciowe
/TypyReferencyjneIWartosciowe/TypyReferencyjneIWartosciowe/bin/Debug/net8.0
/TypyReferencyjneIWartosciowe/TypyReferencyjneIWartosciowe/obj/Debug/net8.0
/TypyReferencyjneIWartosciowe/TypyReferencyjneIWartosciowe/obj
/TypyReferencyjneIWartosciowe/.vs/ProjectEvaluation
/ObslugaPlikow/.vs/ObslugaPlikow
/ObslugaPlikow/ObslugaPlikow/obj
/ObslugaPlikow/ObslugaPlikow/bin/Debug/net8.0
/MetodyPomocnicze/.vs/MetodyPomocnicze/v17
/MetodyPomocnicze/MetodyPomocnicze/obj/Debug/net8.0
/MetodyPomocnicze/MetodyPomocnicze/obj
/ObslugaPlikow/.vs/ProjectEvaluation
/MetodyPomocnicze/.vs/MetodyPomocnicze/FileContentIndex
/linq/.vs/linq/FileContentIndex
/linq/.vs/linq/v17
/linq/linq/bin/Debug/net8.0
/linq/linq/obj
/MetodyPomocnicze/.vs/ProjectEvaluation
/MetodyPomocnicze/MetodyPomocnicze/bin/Debug/net8.0/MetodyPomocnicze.exe
/linq/.vs/ProjectEvaluation
