################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharpCourse/FileContentIndex
/.vs/CSharpCourse/v17
/.vs/FirstProject/FileContentIndex
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/FirstProject/v17
/FirstProject/.vs/FirstProject/FileContentIndex
/FirstProject/.vs/FirstProject/v17/TestStore/0
/SecondProject/.vs/SecondProject
/Klasy/.vs/Klasy/FileContentIndex
